h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  display: block;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}



#datetime-picker{
  margin-top: 36px;
  margin-left: 156px;
  margin-right: 8px;
  margin-bottom: 32px;
  padding-left: 16px;
  background-color: #FFFFFF;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  color: rgb(46, 47, 66);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-sizing: border-box;
  transition: border-color background-color color 250ms;
}

#datetime-picker:hover{
border-color: #000000;
}

#datetime-picker:active{
border-color: #4E75FF;
color: #000000
}

#datetime-picker:disabled{
  color: #808080;
  border-color: #808080;
  background-color: #FAFAFA;
  cursor: not-allowed;
}

button[data-start] {
  box-sizing: border-box;
  width: 75px;
  height: 40px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: #4E75FF;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: color 250ms;
}

button:disabled {
  background-color: #CFCFCF;
  color: #989898;
  cursor: not-allowed;
}

button:hover {
  background-color: #6C8CFF;
  color: #FFFFFF;
}

.timer {
  margin-left: 156px;
  display: flex;
  gap: 27px;
}

.field{
  display: flex;
  flex-direction: column;
}

.value{
  width: 55px;
  padding: 0px;
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
}

.label{
  padding: 0px;
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}


.form{
    margin-top: 36px;
  margin-left: 156px;
  width: 360px;
  display: flex;
  flex-direction: column;
}

.label-delay{
display: flex;
flex-direction: column;
gap: 8px;
color: #2E2F42;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.04em;
margin-bottom: 16px;
}

input[name="delay"]{
box-sizing: border-box;
color: #2E2F42;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.04em;
padding-left: 16px;
height: 40px;
border: 1px solid #808080;
border-radius: 4px;
transition: border 250ms;
}

input[name="delay"]:hover{
border: 1px solid #000000;
}

input[name="delay"]:active{
border: 1px solid #4E75FF;
}

fieldset{
margin-bottom: 24px;
box-sizing: border-box;
border: 1px solid #808080;
border-radius: 4px;
color: #2E2F42;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.04em;
padding-left: 54px;
padding-top: 20px;
display: flex;
flex-direction: row;
gap: 48px;
height: 78px;
  transition: border 250ms;
}

fieldset label {
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  accent-color: #4E75FF; 
  color: #2E2F42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

fieldset:hover{
border: 1px solid #000000;
}

fieldset:active{
border: 1px solid #000000;
}

.btn-snackbar{
width: 360px;
height: 40px;
padding: 8px 16px 8px 16px;
border-radius: 8px;
border: none;
background: #4E75FF;
color: #FFFFFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
}